<header class="topbar">
    <div class="topbar-left">
    </div>

    <div class="topbar-right">
        <div class="user-info" *ngIf="authService.currentUser() as user">
            <div class="user-text">
                <span class="user-name">{{ user.completeName }}</span>
            </div>
            <div class="user-avatar">
                <img [src]="user.pictureProfileUrl || 'https://ui-avatars.com/api/?name=' + user.completeName + '&background=3b82f6&color=fff'"
                    alt="Avatar">
            </div>
        </div>
    </div>
</header>