<header class="topbar">
    <div class="topbar-left">
    </div>

    <div class="topbar-right">
        <div class="user-info">
            <div class="user-text">
                <span class="user-name">Daniela Sarmiento</span>
                <span class="user-role">Pastor</span>
            </div>
            <div class="user-avatar">
                <img src="https://ui-avatars.com/api/?name=Daniela+Sarmiento&background=3b82f6&color=fff" alt="Avatar">
            </div>
        </div>
    </div>
</header>